body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

div.suit-container {
	min-height: 180px;
	width: 48%;
	float: left;
}

div.cards {
	position: relative;
}

div.card {
    /* Use position absolute to offset them on top of each other */
    position: absolute;
}

div.card input {
	display: none;
}

div.card img {
	width: 100px;
	display: inherit;
}

div.card.active {
    margin-top: -20px;
}
