body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

div#suits {
    display: flex;
    flex-wrap: wrap;
}

div.suit-container {
    min-width: 480px;
    min-height: 220px;
    flex: 0.5;
    box-sizing: border-box;
    padding: 10px;
    background: #ccc;
    margin: 5px;
}
div.suit-container h2 {
    margin-top: 0;
}

div.cards {
    position: relative;
    padding: 5px 0;
}

div.card {
    /* Use position absolute to offset them on top of each other */
    position: absolute;
}

div.card input {
    display: none;
}

div.card img {
    width: 100px;
    display: inherit;
    border: 2px solid black;
    border-radius: 5px;
}

div.card.active {
    margin-top: -20px;
}

div#pokerContainer {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 20px;
}

div#cardFormContainer{
    flex: 0.85;
}

form#cardForm {
    display: flex;
    flex-direction: column;
}

div#responseMessage {
    margin: 10px;
    background: #ccc;
    padding: 5px;
}

div#howToPlay {
    flex: 0.15;
    padding-right: 20px; 
}