<!DOCTYPE html>
<html>
<head>
    <title>Card Deck</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
	<form id="cardForm" action="/process" method="post">
		<div id="responseMessage" class="response-message"></div>
		{% for suit in suits %}
	    <div class="suit-container">
	        <h2>{{ suit }}s</h2>
    		<div class="cards">

	        {% for card in cards %}
	            {% if card.suit == suit %}
		        <div class="card" id="card-{{ card.id }}" style="left: {{30 * card.number}}px">
		            <input type="checkbox" name="selected_cards" data-name="card-{{ card.id }}" value="{{ card.id }}">
		            <!-- <img src="{{ url_for('static', filename='back/back.png') }}" alt="card {{card.id}}" /> -->
		        	<img src="{{ url_for('static', filename=card.filename) }}" type="image/svg+xml" width="100">
		        </div>
                {% endif %}
	        {% endfor %}
        	</div>
        </div>
        {% endfor %}
        <input type="submit" value="Submit" style="display: none;">
    </form>
</body>
<script src="{{ url_for('static', filename='js/card-selection.js') }}"></script>
</html>
